#index .wrapper .news-featured h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 80px auto;
  text-align: center;
}

#index .wrapper .news-featured .split-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin: 20px;
}

#index .wrapper .news-featured .split-2 .left {
  height: calc(50vw);
  max-height: 650px;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured {
  height: 100%;
  width: 100%;
  background-size: cover;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured .content {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 50px;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured .content a {
  color: #33a112;
  font-size: 20px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  bottom: 0px;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured h3,
#index .wrapper .news-featured .split-2 .left .nieuws-featured h5,
#index .wrapper .news-featured .split-2 .left .nieuws-featured p {
  color: white;
  font-weight: 500;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured h3 {
  font-size: 2.625em;
  margin-bottom: 20px;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured h5 {
  margin: 0px;
  font-size: 20px;
}

#index .wrapper .news-featured .split-2 .left .nieuws-featured h3,
#index .wrapper .news-featured .split-2 .left .nieuws-featured h5,
#index .wrapper .news-featured .split-2 .left .nieuws-featured p {
  margin-top: 20px;
  color: white;
  font-weight: 500;
}

#index .wrapper .news-featured .split-2 .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  row-gap: 30px;
}

#index .wrapper .news-featured .split-2 .right .news {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

#index .wrapper .news-featured .split-2 .right .news .img {
  height: 300px;
  width: 300px;
  background-position: center;
}

#index .wrapper .news-featured .split-2 .right .news .content {
  margin: 0px auto;
}

#index .wrapper .news-featured .split-2 .right .news .content .title {
  font-size: 1.5em;
  margin: 0px;
}

#index .wrapper .news-featured .split-2 .right .news .content .date {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

#index .wrapper .news-featured .split-2 .right .news .content .intro-text {
  font-size: 1.1em;
}

#index .wrapper .news-featured .split-2 .right .news .content a {
  color: #236e0c;
  text-decoration: none;
  font-weight: 600;
}

#index .wrapper .news-featured button {
  margin: 50px 0px;
  background-color: #33a112;
  border-radius: 23px;
  padding: 20px 35px;
  border: none;
  position: relative;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  font-size: 2em;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1300px) {
  #index .wrapper .news-featured {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto 10px;
  }
  #index .wrapper .news-featured .split-2 {
    -ms-grid-columns: calc(100vw - 40px);
        grid-template-columns: calc(100vw - 40px);
  }
  #index .wrapper .news-featured .split-2 .left {
    width: 100%;
    min-height: 300px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content {
    width: 100%;
  }
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents h3,
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents h5,
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents p,
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents a {
    max-width: 650px;
  }
  #index .wrapper .news-featured .split-2 .right {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #index .wrapper .news-featured {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto 10px;
  }
  #index .wrapper .news-featured .split-2 {
    -ms-grid-columns: calc(100vw - 40px);
        grid-template-columns: calc(100vw - 40px);
  }
  #index .wrapper .news-featured .split-2 .left {
    width: 100%;
    min-height: 300px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content {
    width: 100%;
  }
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    font-size: 12px;
  }
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents h3,
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents h5,
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents p,
  #index .wrapper .news-featured .split-2 .left .nieuws-featured .content .contents a {
    max-width: 650px;
  }
  #index .wrapper .news-featured button {
    font-size: 1.5em;
  }
}

#posts .wrapper {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 700px) {
  #posts .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#posts .wrapper .post .content h3 {
  font-size: 1.1em;
}

#posts .wrapper .post .content h5 {
  font-size: 0.95em;
}

#posts .wrapper .post .content p {
  font-size: 1em;
}

#posts .wrapper .post .content .read-more {
  text-decoration: none;
  color: #33a112;
}
/*# sourceMappingURL=nieuws.css.map */