ErrorDocument 404 /dg3/errorpages/404.php
ErrorDocument 403 /dg3/errorpages/403.php

# redirect to the correct page for the article
Redirect /dg3/galerij/posts/ /dg3/galerij.php

# RewriteEngine On
# RewriteCond %{HTTPS} !on
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
