.fixedPosition {
  position: fixed;
}

html,
textarea {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #888;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Roboto", sans-serif;
}

.owl-dots {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.owl-dots button {
  margin: 7.5px;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #a3a3a3;
}

.owl-dots button.active {
  background-color: #333333;
}

.wrapper {
  max-width: 1400px;
  margin: auto;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hamburger.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.hamburger.open .bar2 {
  opacity: 0;
}

.hamburger.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.close {
  position: absolute;
  top: 10vh;
  right: 75px;
  width: 50px;
  height: 50px;
  opacity: 0.8;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 5vh;
  width: 5px;
  background-color: #333;
}

.close:hover {
  opacity: 1;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header {
  z-index: 10;
  width: 100vw;
  top: 0px;
  height: 110px;
  background-color: white;
  position: fixed;
}

header * {
  color: #333333;
}

header nav {
  background-color: white;
  height: 100px;
  margin: auto;
  max-width: 1400px;
}

header nav .logo {
  display: inline;
  margin: 15px 20px;
  height: 70px;
}

header nav section {
  height: 100%;
  display: inline-block;
}

header nav .nav-links {
  float: right;
  margin: 0px;
  margin-top: 10px;
  margin-right: 10px;
}

header nav .nav-links ul {
  padding: 0px;
}

header nav .nav-links ul li {
  display: inline-block;
  margin-left: 50px;
}

header nav .nav-links ul li a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
}

header nav .nav-links ul li a:hover {
  color: #031400;
}

header nav .nav-links ul li.nav-link {
  padding: 0px;
}

header nav .nav-links ul li.nav-button {
  background-color: #33a112;
  padding: 15px 25px;
  border-radius: 23px;
}

header nav .nav-links ul li.nav-button a {
  color: white;
}

tablet,
mobile,
mobile-nav {
  display: none;
}

footer {
  background-color: #00792d;
  color: white !important;
  padding: 20px;
}

footer section {
  width: calc(50% - 30px);
  display: inline-block;
}

footer .footer-text {
  margin-right: 30px;
}

footer .footer-text h2 {
  margin-top: 0px;
}

footer .footer-text p {
  font-size: 1.5em;
}

footer .footer-text h4 {
  margin: 0px;
  margin-bottom: 15px;
  font-size: 1.4em;
}

footer .wrapper {
  margin-bottom: 40px;
  margin-top: 40px;
}

footer .wrapper form {
  margin-left: 30px;
}

footer .wrapper form input,
footer .wrapper form textarea {
  margin: 17.5px 0px;
  width: 100%;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  color: white;
  font-size: 1.25rem;
}

footer .wrapper form input::-webkit-input-placeholder,
footer .wrapper form textarea::-webkit-input-placeholder {
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
}

footer .wrapper form input:-ms-input-placeholder,
footer .wrapper form textarea:-ms-input-placeholder {
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
}

footer .wrapper form input::-ms-input-placeholder,
footer .wrapper form textarea::-ms-input-placeholder {
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
}

footer .wrapper form input::placeholder,
footer .wrapper form textarea::placeholder {
  font-size: 1.25rem;
  color: white;
  font-weight: 500;
}

footer .wrapper form input.submit,
footer .wrapper form textarea.submit {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: start;
  width: auto;
  padding: 20px 35px !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .wrapper form input.submit:hover,
footer .wrapper form textarea.submit:hover {
  background-color: greenyellow;
}

footer .wrapper form input {
  height: 75px;
}

footer .wrapper form textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 195px;
}

intro {
  margin-top: 110px;
  display: block;
  width: 100vw;
  background-image: url("../img/header-img.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

intro .intro-img {
  width: 100vw;
  height: calc(100vh - 110px);
  background-color: rgba(0, 0, 0, 0.64);
}

intro .intro-img .centered {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

intro .intro-img .centered h1,
intro .intro-img .centered p,
intro .intro-img .centered button,
intro .intro-img .centered a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin: auto;
  color: white;
}

intro .intro-img .centered p {
  margin: 25px;
  font-size: 42px;
  max-width: 670px;
}

intro .intro-img .centered button {
  background-color: #33a112;
  border-radius: 23px;
  padding: 20px 35px;
  border: none;
  position: relative;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

intro .intro-img .centered button a {
  font-size: 32px;
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .hamburger {
    display: inline-block;
    float: right;
    margin-top: calc(calc(110px - 35px) / 2);
    margin-right: 50px;
    height: 35px;
  }
  desktop {
    display: none;
  }
  tablet,
  mobile-nav {
    display: inline-block;
  }
  mobile-nav {
    position: absolute;
    left: -100vw;
    top: 0px;
    height: 105vh;
    width: 100vw;
    background-color: white;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  mobile-nav.open {
    left: 0px;
    display: inline-block;
  }
  mobile-nav .logo {
    width: calc(50vw - 20px);
    margin: 50px;
  }
  mobile-nav ul {
    padding: 0;
    margin-bottom: 80px;
  }
  mobile-nav ul li {
    list-style: none;
    margin: 50px;
  }
  mobile-nav ul li a {
    color: #333;
    font-size: 2em;
    padding: 10px;
    text-decoration: none;
  }
  footer section {
    width: 100%;
    display: block;
    margin: 0px;
  }
  footer section form {
    margin-left: 0px !important;
    margin: 10px;
  }
  footer section form input.submit,
  footer section form textarea.submit {
    text-align: center !important;
  }
  footer .footer-text {
    margin: 10px;
  }
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

@media screen and (max-width: 640px) {
  header nav .logo {
    /*min-height: 70px;*/
    width: calc(50vw - 20px);
    margin-left: 20px;
  }
}

@media screen and (max-width: 420px) {
  desktop,
  tablet {
    display: none;
  }
  mobile {
    display: inline-block;
  }
  h1 {
    font-size: 64px;
  }
  intro .intro-img .centered p {
    font-size: 32px;
  }
  intro .intro-img .centered button a {
    font-size: 28px;
  }
}

@media screen and (max-width: 640px) {
  header nav .logo {
    width: 60vw;
    margin-left: 0px;
  }
  header nav .hamburger {
    margin-right: 35px;
  }
  footer .wrapper section form input,
  footer .wrapper section form textarea {
    margin: 7.5px;
  }
}

/* LOGO IN MOBILE MENU QUERY */
@media screen and (max-width: 640px) {
  mobile-nav .logo {
    width: calc(100vw - 200px);
  }
}

@media screen and (max-width: 570px) {
  mobile-nav .logo {
    width: calc(70vw - 100px);
  }
}

/* DEV ELEMENTS */
full-height-spacer {
  display: block;
  height: 100vh;
}
/*# sourceMappingURL=main.css.map */